<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SelectedList.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
	<f:if condition="{bedieningsprofiel}">
		<TABLE style="width:100%" class="tx-persoon" cellspacing="0" cellpadding="0">
		<tr><td><h3>Mijn gavenprofiel</h3></td></tr>
		<tr><td><h5>Ik wil mij met mijn gaven en talenten laten gebruiken als een levende steen voor de bouw van een geestelijke tempel (1Petr 2:5)</h5></td></tr>
		<TR><td>
			<table>
			<f:form action="detail" controller="Persoon" extensionName="churchpersreg" pluginName="Persoon" pageUid="{pageuidperson}" name="search" id="detailForm">
			<f:form.hidden name="personid" id="detailFormpid" value="{personid}"/>
			<f:form.hidden id="stack" name="stack" value="{stack}"/>

			<tr><td class="labelchurchadmin"><label for="bedieningsprofiel-naam"><f:translate key="bedieningsprofiel.person" /></label></td>
			<td id="bedieningsprofiel-naam"> 
			<f:form.submit value="{bedieningsprofiel.naam}" id="{bedieningsprofiel.person_id}" class="personselect btn btn-link" title="Ga naar persoonsgegevens" />
			</f:form>
			</td></tr>
			<tr><td class="labelchurchadmin"><label for="bedieningsprofiel-verlangen"><f:translate key="bedieningsprofiel.passion" /></label></td>
			<td id="bedieningsprofiel-verlangen">{bedieningsprofiel.verlangen}
			</td></tr>
			<tr><td class="labelchurchadmin"><label for="bedieningsprofiel-gaven"><f:translate key="bedieningsprofiel.gifts" /></label></td>
			<td id="bedieningsprofiel-gaven">
				<f:for each="{bedieningsprofiel.gaven}" as="gave" iteration="gavenindex">
				{gave}<i class="bi bi-info-circle"  title="klik om toelichting te zien"  style="cursor: pointer;margin-left:2px;color:blue;" onclick=
				'window.open("{bedieningsprofiel.gavenfiles.{gavenindex.index}}",null,"width=600,height=700,resizable=yes,scrollbars=yes,title=no,status=no,toolbar=no,menubar=no,location=no")'></i>,&nbsp; 
				</f:for>
			</td></tr>
			<tr><td class="labelchurchadmin"><label for="bedieningsprofiel-stijl"><f:translate key="bedieningsprofiel.style" /></label></td>
			<td id="bedieningsprofiel-stijl">{bedieningsprofiel.stijlenergie}, {bedieningsprofiel.stijlorganisatie}&nbsp;
			<i class="bi bi-info-circle" style="cursor: pointer;margin-left:2px;color: blue;" title="klik om toelichting te zien" 
				onClick='window.open("{bedieningsprofiel.stijlfile}",null,"width=600,height=700,resizable=yes,scrollbars=yes,title=no,status=no,toolbar=no,menubar=no,location=no")'></i>
			</td></tr>
			<tr><td class="labelchurchadmin"><label for="bedieningsprofiel-vaardigheden"><f:translate key="bedieningsprofiel.skills" /></label></td>
			<td id="bedieningsprofiel-vaardigheden">{bedieningsprofiel.vaardigheden}
			</td></tr>
			<tr><td class="labelchurchadmin"><label for="bedieningsprofiel-aanspreekt"><f:translate key="bedieningsprofiel.appeals" /></label></td>
			<td id="bedieningsprofiel-aanspreekt">{bedieningsprofiel.wat_aanspreekt}
			</td></tr>
			<tr><td class="labelchurchadmin"><label for="bedieningsprofiel-beroep"><f:translate key="bedieningsprofiel.profession" /></label></td>
			<td id="bedieningsprofiel-beroep">{bedieningsprofiel.beroep}
			</td></tr>
			<tr><td class="labelchurchadmin"><label for="bedieningsprofiel-leuk"><f:translate key="bedieningsprofiel.worklikes" /></label></td>
			<td id="bedieningsprofiel-leuk">{bedieningsprofiel.leuk_in_werk}
			</td></tr>
			<tr><td colspan="2">
				<fieldset class="form-group border-primary border-1 pl-2"><legend class="w-auto text-primary">Inzet</legend>
				<table border="0" cellspacing="1" cellpadding="0" width="100%">
				<tr>
				<td class="labelchurchadmin" width="15%"><label for="bedieningsprofiel-inzet"><f:translate key="bedieningsprofiel.experience" /></label></td></td>
				<td id="bedieningsprofiel-inzet" width="85%">{bedieningsprofiel.ervaring}</td>
				</tr>
				<tr><td class="labelchurchadmin"><label for="bedieningsprofiel-taken":><f:translate key="bedieningsprofiel.task" /></label></td>
				<td id="bedieningsprofiel-taken">{bedieningsprofiel.taken}</td></tr>
				</table>
			</fieldset>
			</td></tr>
			<f:if condition="{adviseursbeschikbaar}"> 
  			<tr><td colspan="2" style="padding-top:12px;"></td></tr>
			<tr><td colspan="2" class="labelchurchadmin">Gesprek met gavenadviseur gewenst:&nbsp;{f:if(condition:'{bedieningsprofiel.gesprekgewenst}=="1"',then:'Ja', else:'Nee')}</td></tr>

			<tr><td>&nbsp;</td></tr>
			</f:if>
			<tr><td  colspan="2" valign="top">
			<table  class="styled">
				<tr>
					<td>
					<f:form action="edit" name="search" id="editForm">
					<f:form.hidden name="personid" value="{personid}"/>
					<f:form.hidden id="ownprofile" name="ownprofile" value="{ownprofile}"/>				
					<f:form.hidden id="stack" name="stack" value="{stack}"/>
					<f:form.hidden name="read" value="1"/>				
					<f:form.hidden name="no_cache" value="1"/>
					<f:form.submit class="btn btn-primary" value="{f:translate(key:'wijzig_button_label')}" title="Gavenprofiel wijzigen" /> 
					</f:form>
					</td>
					<td>
					<f:if condition="{ownprofile}==0">
						<f:form action="{return}" name="search" id="returnForm">
						<f:form.hidden id="stack" name="stack" value="{stack}"/>
						<f:form.hidden name="read" value=""/>				
						<f:form.hidden name="no_cache" value="1"/>
						<f:form.submit class="btn btn-primary" value="{f:translate(key:'return_button_label')}"/> 
						</f:form>
					</f:if>
					</td>
				</tr>
			</table>
			</td></tr>

			</table>
		</TR>
		</TABLE>
	</f:if>
	<!--TYPO3SEARCH_begin-->
			
	<script language="JavaScript">
		$ = jQuery.noConflict();

$(".personselect" ).click(function( event ) {
	var personid=event.target.id;
	$("#detailFormpid").val(personid);
	});

</script>

</f:section>
</html>
