<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SelectedList.html
-->

<f:section name="content">
	<f:if condition="{bedieningsprofiel}">
		<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/multiselect.js', extensionName: 'parousiazoetermeer')}"></script>
		<div class="vieweditProfile-form">
		<f:form action="gaventest" id="gaventestForm" >
		</f:form>
		<f:form action="stijltest" id="stijltestForm" >
		</f:form>

		<f:form action="save" object="{bedieningsprofiel}" name="bedieningsprofiel" id="saveForm" additionalAttributes="{autocomplete: 'off'}" >   
		<f:form.hidden id="stack" name="stack" value="{stack}"/>						
		<f:form.hidden property="person_uid" value="{bedieningsprofiel.person_uid}"/>
		<f:form.hidden property="gesprekgewenstorg" value="{bedieningsprofiel.gesprekgewenst}"/>
		<f:form.hidden property="naam" value="{bedieningsprofiel.naam}"/>
		<f:form.hidden property="uid"/>
		<f:form.hidden name="subaction" id="subaction" />
		<f:form.hidden name="no_cache" value="1"/>
		<h3 class ="csc-firstHeader">Wie ben ik?</h3>
		<h5>Met deze gegevens zal de gemeente vertrouwelijk omgaan.</h5>
		<div class="row">
			<div class="col-2 mr-2"> 
				<label for="bedieningsprofiel-naam" class="font-weight-bold"><f:translate key="bedieningsprofiel.naam" /></label>&nbsp;
			</div>
			<div id="bedieningsprofiel-naam" class="col">
				{bedieningsprofiel.naam}
			</div>
		</div>
		<div class="form-group">
			<label for="bedieningsprofiel-verlangen" class="font-weight-bold"><f:translate key="bedieningsprofiel.passion" /></label>
			<i class="bi bi-info-circle" style="cursor: pointer;margin-left:2px;color: blue;" title="klik om toelichting te zien" 
			onClick='window.open("{bedieningsprofiel.passionfile}",null,"width=600,height=700,resizable=yes,scrollbars=yes,title=no,status=no,toolbar=no,menubar=no,location=no")'></i>
			<f:form.textarea class="form-control" id="bedieningsprofiel-verlangen" property="verlangen" rows="3" />
		</div>
		<div class="row">
			<div class="col-2 mr-2"> 
				<label for="bedieningsprofiel-gaven" class="font-weight-bold"><f:translate key="bedieningsprofiel.gifts" /></label>&nbsp;
			</div>
			<div id="bedieningsprofiel-gaven" class="col">
				<f:for each="{bedieningsprofiel.gaven}" as="gave" key="gavenindex">
		    			<f:form.select name="bedieningsprofiel[gaven][]" value="{gave}" options="{gavenoptions}"/></td>
				</f:for>
				<f:form.submit id="gaventest" class="btn btn-link test" value="{f:translate(key:'bedieningsprofiel.dogiftstest')}" title="Doe de gaventest" />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 mr-2"> 
				<label for="bedieningsprofiel-stijl" class="font-weight-bold"><f:translate key="bedieningsprofiel.style" /></label>&nbsp;
			</div>
			<div id="bedieningsprofiel-stijl" class="col-sm">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
				  <label class="btn btn-info">
					<f:form.radio property="stijlenergie" value="Taakgericht"/>Taakgericht
				  </label>
				  <label class="btn btn-info">
					<f:form.radio property="stijlenergie" value="Mensgericht"/>Mensgericht
				  </label>
				  <label class="btn btn-info">
				    <f:form.radio property="stijlenergie" value="Beide"/>Beide
				  </label>
				</div>
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
				  <label class="btn btn-info">
					<f:form.radio property="stijlorganisatie" value="Gestructureerd"/>Gestructureerd
				  </label>
				  <label class="btn btn-info">
					<f:form.radio property="stijlorganisatie" value="Ongestructureerd"/>Ongestructureerd
				  </label>
				  <label class="btn btn-info">
				    <f:form.radio property="stijlorganisatie" value="Beide"/>Beide
				  </label>
				</div>
				<f:form.submit id="stijltest" class="btn btn-link test" value="{f:translate(key:'bedieningsprofiel.dostyletest')}" title="Doe de stijltest" />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 mr-2"> 
			<label for="bedieningsprofiel-beroep" class="font-weight-bold"><f:translate key="bedieningsprofiel.profession" /></label>
			</div>
			<div id="bedieningsprofiel-beroep" class="col form-group">
				<f:form.textarea class="form-control" property="beroep" rows="1" />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 mr-2"> 
			<label for="bedieningsprofiel-leukwerk" class="font-weight-bold"><f:translate key="bedieningsprofiel.worklikes" /></label>
			</div>
			<div id="bedieningsprofiel-leukwerk" class="col form-group">
				<f:form.textarea class="form-control" property="leuk_in_werk" rows="1" />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 mr-2"> 
			<label for="bedieningsprofiel-experience" class="font-weight-bold"><f:translate key="bedieningsprofiel.experience" /></label>
			</div>
			<div id="bedieningsprofiel-experience" class="col form-group">
				<f:form.textarea class="form-control" property="ervaring" rows="1" />
			</div>
		</div>
		
		<fieldset class="form-group border-primary border-1 pl-2"><legend class="w-auto text-primary"><f:translate key="bedieningsprofiel.skills" /></legend>
			<div class="row">
				<div class="col-sm-2 mr-2"> 
				<label for="bedieningsprofiel-skills" class="font-weight-bold">Kies 1 of meer</label>
				</div>
				<div id="bedieningsprofiel-skills" class="col form-group">
					<f:form.select id="vaardig" multiple="true" property="vaardigheden" size="16" >
					<f:for each="{vaardighedenoptions}" as="vaardighedenoptiongrp" key="label">
						<f:form.select.optgroup label="{label}">
							<f:for each="{vaardighedenoptiongrp}" as="vaardighedenoption" key="keylbl">
								<f:form.select.option value="{keylbl}">{vaardighedenoption}</f:form.select.option>
							</f:for>
						</f:form.select.optgroup>
					</f:for>
					</f:form.select>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 mr-2"> 
				<label for="bedieningsprofiel-other" class="font-weight-bold"><f:translate key="bedieningsprofiel.other" /></label>
				</div>
				<div id="bedieningsprofiel-other" class="col form-group">
					<f:form.textarea class="form-control" property="overig" rows="2" />
				</div>
			</div>
		</fieldset>
		<fieldset class="form-group border-primary border-1 pl-2"><legend class="w-auto text-primary"><f:translate key="bedieningsprofiel.appeals" /></legend>
			<div class="row">
				<div class="col-sm-2 mr-2"> 
				<label for="bedieningsprofiel-appeals" class="font-weight-bold">Kies 1 of meer</label>
				</div>
				<div id="bedieningsprofiel-appeals" class="col form-group">
					<f:form.select id="aanspreek" multiple="true" property="wat_aanspreekt" size="16" options="{aanspreekoptions}"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 mr-2"> 
				<label for="bedieningsprofiel-different" class="font-weight-bold"><f:translate key="bedieningsprofiel.different" /></label>
				</div>
				<div id="bedieningsprofiel-different" class="col form-group">
					<f:form.textarea class="form-control" property="anders" rows="2" />
				</div>
			</div>
		</fieldset>
		<f:if condition="{ownprofile}==1 && {adviseursbeschikbaar}">
			<div class="form-group">
		    	<div class="form-check">
				<f:form.checkbox class="form-check-input" id="gesprekgewenst" property="gesprekgewenst" value="1" checked="{bedieningsprofiel.gesprekgewenst}" />
		    		<label class="form-check-label" for="gesprekgewenst"><f:translate key="bedieningsprofiel.gesprekgewenst"/></label>
		    	</div>
			</div>
		</f:if>
		<div class="btn-toolbar">
			<f:form.submit onclick='$("#subaction").val("save");' class="btn btn-primary mr-2 " title="Wijzigingen opslaan" value="{f:translate(key:'profielchangesave_button_label')}"/>
			</f:form>
			<f:form action="{return}" name="search" id="returnForm">
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<f:form.hidden name="no_cache" value="1"/>
			<f:form.submit class="btn btn-primary" value="{f:translate(key:'return_button_label')}"/> 
			</f:form>
		</div>
	</div>

	</f:if>		
<script type="text/javascript">
	window.onload = function () {
		multiSelect("aanspreek");
		multiSelect("vaardig");
	 	scroll_selected("aanspreek");
		scroll_selected("vaardig");
  	};
	
	$(".test").click(function()
	{
		var curaction
		var formid=$(this).attr('id');
		curaction=$("#saveForm").attr('action');
		if (formid=="gaventest")
		{			
			newaction=$('#gaventestForm').attr('action'); 
			$("#saveForm").attr('action',newaction);
		}
		if (formid=="stijltest")
		{			
			newaction=$('#stijltestForm').attr('action'); 
			$("#saveForm").attr('action',newaction);
		}
	});

</script>

</f:section>

</html>
