<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/Bedieningsprofiel/Edit.html
-->

<f:section name="content">
	<f:if condition="{gaventest}">
		<f:form action="edit" object="{gaventest}" name="gaventest" id="saveForm" additionalAttributes="{autocomplete: 'off'}" >   
		<f:form.hidden id="stack" name="stack" value="{stack}"/>						
		<f:form.hidden name="personid" value="{personid}"/>
		<f:form.hidden name="subaction" value="gavenberekenen"/>
		<f:form.hidden name="no_cache" value="1"/>
		<TABLE style="width:100%;" cellspacing="0" cellpadding="0">
		<tr><td><h1 class ="csc-firstHeader">Geestesgaventest van Willow Creek</h1>
		<br>Hieronder staan 133 stellingen. Achter elke stelling staan 4 rondjes waarmee je op een glijdende schaal van links naar rechts kunt aangeven of de stelling:</td></tr>
		<tr><td style="text-align:center;width:100%;"><b><i>N</i></b>ooit, <b><i>S</i></b>oms, <b><i>V</i></b>aak of <b><i>A</i></b>ltijd</td></tr>
		<tr><td>van toepassing is op jou. Klik op het rondje dat van toepassing is. Klik zo achter elke van de 133 stellingen een rondje aan (scroll omlaag) en klik dan helemaal onderaan op "score berekenen".
		<br>
		<br>NB: Geef je reactie aan de hand van wie je bent. Dus niet van wie je wil zijn. Het gaat er om, dat je jezelf beoordeelt aan de hand van wat je ervaring is. Denk niet lang na, maar vul in wat het eerste bij je boven komt. Probeer te vermijden om steeds "<b>S</b>oms" te antwoorden.
		<br>Genezingen, wonderen, tongentaal en vertolking van tongen zijn in de test niet opgenomen omdat het duidelijk zal zijn of iemand deze gave heeft of niet</td></tr>

		<tr><td>
		<table class="grid">
		<tr style="font-style:italic;font-weight:bold;text-align:center;"><td style="border:0px;"></td><td style="border:0px;"></td><td>N</td><td>S</td><td>V</td><td>A</td></tr>
		<f:for each="{gaventest}" as="vraag" iteration="gavenindex">
			<TR {f:if(condition:gavenindex.isOdd,then:'class="tx-churchadmin-pi3-alternate-row"')}>
				<td style="padding-right:2px;">{vraag.uid}</td>
				<td>{vraag.question}</td>
				<td><input type="radio" id="st{vraag.uid}" name="tx_churchgiftsreg_bedieningsprofiel[a{vraag.uid}]" value="0" onclick="window.scrollBy(0,25)" ></td>
				<td><input type="radio" id="st{vraag.uid}" name="tx_churchgiftsreg_bedieningsprofiel[a{vraag.uid}]" value="1" onclick="window.scrollBy(0,25)" ></td>
				<td><input type="radio" id="st{vraag.uid}" name="tx_churchgiftsreg_bedieningsprofiel[a{vraag.uid}]" value="2" onclick="window.scrollBy(0,25)" ></td>
				<td><input type="radio" id="st{vraag.uid}" name="tx_churchgiftsreg_bedieningsprofiel[a{vraag.uid}]" value="3" onclick="window.scrollBy(0,25)" ></td>
		</tr>
		</f:for>
		</table></td></tr>
		<tr><td ><p>&nbsp;</p></td></tr>
		</TABLE>

	<div>
		<div class="btn-toolbar">
			<f:form.submit id="saveFormbtn" class="btn btn-primary mr-2" value="{f:translate(key:'giftsscore_button_label')}" title="Gaven bepalen en nieuwe gaven tonen op voorgaande scherm" /> 
			</f:form>
			<f:form action="{return}" name="search" id="returnForm">
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<f:form.hidden name="personid" value="{personid}"/>
			<f:form.hidden name="no_cache" value="1"/>
			<f:form.submit class="btn btn-primary" value="{f:translate(key:'return_button_label')}"/> 
			</f:form>
		</div>
	</div>
	
		
	</f:if>		
<script>
	$ = jQuery.noConflict();
	var nbrfound={gaventest->f:count()};
	function getRadioValue(name)
	{
    	var group = document.getElementsByName(name);
	    for (var i=0;i<group.length;i++)
		{
   		    if (group[i].checked) {
           	return group[i].value;
        	}
   		}
    	return "";
	}
	
	$("#saveForm").on("submit",function(e)
	{
		//alert("submit:");
		var $submit = $(document.activeElement);
		var formid=$submit.attr("id");
		// next line added because of error in Edge
		if (formid=="saveFormbtn")
		{
			for (var i=1;i<nbrfound;i++)
			{
				sel=getRadioValue('tx_churchgiftsreg_bedieningsprofiel[a'+i+']');
				if (sel.length<1)
				{	
					e.preventDefault();
					alert("waardeer stelling "+i);
					document.form1["st"+i].focus();
					return false;
				}
			}
		}
	});
</script>



</f:section>
</html>
