<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SearchForm.html
-->

<f:section name="content">
<div class="searchProfile-form">
	<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/multiselect.js', extensionName: 'parousiazoetermeer')}"></script>
	<f:form action="selectedList" object="{search}" name="search">	
	<f:form.hidden id="stack" name="stack" value="{stack}"/>
	<div class="row justify-content-end">
		<f:link.typolink  class="btn-link text-primary border-0 bg-white mr-2" title="{f:translate(key:'bedieningsprofiel.searchtips')}" target="_blank" parameter="{extPath}Resources/Public/Documents/helpzoekprofiel.htm" >
		<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	  	<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
	  	<path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
		</svg>
    	</f:link.typolink>
		<f:form.button  class="btn-link text-primary border-0 bg-white" title="{f:translate(key:'bedieningsprofiel.search')}" >
			<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  			<path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
  			<path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
			</svg>
		</f:form.button>
	</div>
    <p>Geef één of meer zoekcriteria:</p>
    	<div class="form-group">
			<f:form.textfield property="general" class="form-control" title="Als met Google op alle rubrieken van gavenprofiel zoeken naar opgegeven woorden" 
			placeholder="Geef deel van rubrieken van gavenprofiel"/>
	    </div>
    	<div class="form-group">
			<f:form.textfield property="naw" class="form-control" title="Als met Google op alle rubrieken van personen zoeken naar opgegeven woorden" 
			placeholder="Geef deel van rubrieken van persoonsgegevens"/>
	    </div>
		<div class="row">
			<div class="col-sm-1 mr-1"> 
			<label for="bedieningsprofiel-verlangen" class="font-weight-bold"><f:translate key="bedieningsprofiel.passion" /></label>
			</div>
			<div id="bedieningsprofiel-verlangen" class="col form-group">
				<f:form.textfield id="bedieningsprofiel-verlangen" property="verlangen" class="form-control" />
			</div>
		</div>
		<div class="form-group">
	    	<div class="form-check">
			<f:form.checkbox class="form-check-input" id="persoon-lid" property="islid" value="1" checked="{search.islid}" />
	    		<label class="form-check-label" for="persoon-lid">moet lid zijn</label>
	    	</div>
		</div>

		<fieldset class="form-group border-primary border-1 pl-2"><legend class="w-auto text-primary"><f:translate key="bedieningsprofiel.gifts" /></legend>
			<div class="row">
				<div class="col-sm-2 mr-2"> 
				<label for="bedieningsprofiel-gifts" class="font-weight-bold">Kies 1 of meer</label>
				</div>
				<div id="bedieningsprofiel-gifts" class="col form-group">
					<f:form.select id="gifts" multiple="true" property="gaven" size="13" options="{gavenoptions}"/>
				</div>
			</div>
		</fieldset>
		<fieldset class="form-group border-primary border-1 pl-2"><legend class="w-auto text-primary"><f:translate key="bedieningsprofiel.skills" /></legend>
			<div class="row">
				<div class="col-sm-2 mr-2"> 
				<label for="bedieningsprofiel-skills" class="font-weight-bold">Kies 1 of meer</label>
				</div>
				<div id="bedieningsprofiel-skills" class="col form-group">
					<f:form.select id="vaardig" multiple="true" property="vaardigheden" size="13" >
					<f:for each="{vaardighedenoptions}" as="vaardighedenoptiongrp" key="label">
						<f:form.select.optgroup label="{label}">
							<f:for each="{vaardighedenoptiongrp}" as="vaardighedenoption" key="keylbl">
								<f:form.select.option value="{keylbl}">{vaardighedenoption}</f:form.select.option>
							</f:for>
						</f:form.select.optgroup>
					</f:for>
					</f:form.select>
				</div>
			</div>
		</fieldset>
		<f:if condition="{adviseursbeschikbaar}"> 
			<div class="form-group">
		    	<div class="form-check">
				<f:form.checkbox class="form-check-input" id="gesprekgewenst" property="gesprekgewenst" value="1" checked="{search.gesprekgewenst}" />
		    		<label class="form-check-label" for="gesprekgewenst"><f:translate key="bedieningsprofiel.gesprekgewenst" /></label>
		    	</div>
			</div>
		</f:if>
	
		</div>
	</div>
	</f:form>
	<script type="text/javascript">
	window.onload = function () {
		multiSelect("gifts");
		multiSelect("vaardig");
	 	scroll_selected("gifts");
		scroll_selected("vaardig");
  	};
</script>

</f:section>
</html>