<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/Bedieningsprofiel/Edit.html
-->

<f:section name="content">

	<f:if condition="{stijltest}">
		<f:form action="edit" object="{stijltest}" name="stijltest" id="saveForm" additionalAttributes="{autocomplete: 'off'}" >   
		<f:form.hidden id="stack" name="stack" value="{stack}"/>						
		<f:form.hidden name="personid" value="{personid}"/>
		<f:form.hidden name="subaction" value="stijlberekenen"/>
		<TABLE style="width:100%;" cellspacing="0" cellpadding="0">
		<tr><td><h1 class ="csc-firstHeader">Stijltest van Willow Creek</h1>
		<p>
		<div class="stijltest">
		<ul>
		<li>Geef bij elk van de 14 onderwerpen aan wat meestal jouw persoonlijke voorkeur heeft. Klik daartoe op het rondje dat je van toepassing vindt:
		<ul><li>1e rondje = volledig eens met het antwoord links</li>
		<li>2e rondje = het antwoord links klopt meestal wel</li>
		<li>3e rondje = de antwoorden links en rechts zijn wel van toepassing op mij</li>
		<li>4e rondje = het antwoord rechts klopt meestal wel</li>
		<li>5e rondje = volledig eens met het antwoord rechts</li>
		</li></ul>
		Klik vervolgens onderaan op de knop "Score berekenen".</li>
		<li>Houd bij het beantwoorden van de vragen geen rekening met wat je partner, je familie of je baas zou willen. Het gaat nu even om jouw persoonlijke voorkeur.</li>
		<li>Kies wat je spontaan zou kiezen, als je doen en laten niet zou worden ingeperkt of bijgestuurd door anderen.</li>
		<li>Probeer te vermijden steeds het midden te kiezen.</li></ul><br>
		</p></div></td></tr>
		<tr><td style="width=100%">
		<table class="grid">
			<f:for each="{stijltest}" as="vraag" iteration="stijlindex">
				<tr class="tx-churchadmin-pi3-alternate-row">
					<td style="border:1px inset black;">{vraag.uid}</td><td colspan="7" style="border:1px inset black;text-align:center;font-style:italic;">{vraag.question}</td>
				</tr>
				<tr>
					<td style="border:1px inset black;"></td>
					<td style="border:1px inset black;text-align:right;padding 15px;">{vraag.stijlleft}</td>
					<td style="border:1px inset black;padding 15px;"><input type="radio" id="st{vraag.uid}" name="tx_churchgiftsreg_bedieningsprofiel[a{vraag.uid}]" value="1"  /></td>
					<td style="border:1px inset black;padding 15px;"><input type="radio" id="st{vraag.uid}" name="tx_churchgiftsreg_bedieningsprofiel[a{vraag.uid}]" value="2"  ></td>
					<td style="border:1px inset black;padding 15px;"><input type="radio" id="st{vraag.uid}" name="tx_churchgiftsreg_bedieningsprofiel[a{vraag.uid}]" value="3"  ></td>
					<td style="border:1px inset black;padding 15px;"><input type="radio" id="st{vraag.uid}" name="tx_churchgiftsreg_bedieningsprofiel[a{vraag.uid}]" value="4"  ></td>
					<td style="border:1px inset black;padding 15px;"><input type="radio" id="st{vraag.uid}" name="tx_churchgiftsreg_bedieningsprofiel[a{vraag.uid}]" value="5"  ></td>
					<td style="border:1px inset black;" style="text-align:left;padding 15px;">{vraag.stijlright}</td>
				</tr>
			</f:for>
		</table>
		</td></tr>
		<tr><td ><p>&nbsp;</p></td></tr>
		</TABLE>

	<div>
		<div class="btn-toolbar">
			<f:form.submit id="saveFormbtn" class="btn btn-primary mr-2" value="{f:translate(key:'stylescore_button_label')}" title="Stijl bepalen en nieuwe stijl tonen op voorgaande scherm" /> 
			</f:form>
			<script>
			$ = jQuery.noConflict();
			var nbrfound={stijltest->f:count()};
			function getRadioValue(name)
			{
		    	var group = document.getElementsByName(name);
			    for (var i=0;i<group.length;i++)
				{
		   		    if (group[i].checked) {
		           	return group[i].value;
		        	}
		   		}
		    	return "";
			}
			
			$('form[name="stijltest"]').on("submit",function(e)
			{
				//alert("submit:");
				var $submit = $(document.activeElement);
				var formid=$submit.attr("id");
				if (formid=="saveFormbtn")
				{
					for (var i=1;i<nbrfound;i++)
					{
						sel=getRadioValue('tx_churchgiftsreg_bedieningsprofiel[a'+i+']');
						if (sel.length<1)
						{	
							e.preventDefault();
							alert("geef voorkeur aan bij onderwerp "+i);
							document.stijltest["st"+i].focus();
							return false;
						}
					}
				}
			});
		</script>

		<f:form action="{return}" name="search" id="returnForm">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden name="personid" value="{personid}"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.submit class="btn btn-primary" value="{f:translate(key:'return_button_label')}"/> 
		</f:form>
		</div>
	</div>
	
		
	</f:if>		



</f:section>
</html>
